.c-info-items__title {
    font-size: 1rem;
    font-weight: var(--weight-regular);
    line-height: 3.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.c-info-items__description {
    font-size: 2.5rem;
    font-weight: var(--weight-bold);
}

@media screen and (max-width: 768px) {
    .c-info-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0;
    }

    .c-info-items__description{
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .c-info-items{
        padding: 0;
    }

    .c-info-items__title{
        font-size: .8rem;
    }

    .c-info-items__description{
        font-size: 1.5rem;
    }
}