:root {
  /* Color */
  --black: #000000;
  --black--transparent: #00000075;
  --dark-gray: #303030;
  --white: #ffffff;
  --white--transparent: #ffffff75;
  --gray: #999999;

  /* Tipography */
  --weight-regular: 400;
  --weight-bold: 700;
  --font-family: "Inter", sans-serif;

  /* Images */
  --desktop-night: url(../assets/img/desktop/bg-image-nighttime.jpg);
  --desktop-day: url(../assets/img/desktop/bg-image-daytime.jpg);
  --tablet-night: url(../assets/img/tablet/bg-image-nighttime.jpg);
  --tablet-gay: url(../assets/img/tablet/bg-image-daytime.jpg);
  --mobile-night: url(../assets/img/mobile/bg-image-nighttime.jpg);
  --mobile-night: url(../assets/img/mobile/bg-image-daytime.jpg); 
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--white);

  background-image: var(--desktop-night);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(75%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.container--active {
  height: 100vh;
}

.l-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 3rem 6rem;
}

.l-column:nth-of-type(2) {
  align-items: center;
  justify-content: flex-end;
}
