.c-btn__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    border-radius: 28px;
    padding: .2rem .4rem .2rem 1.6rem;
}

.c-btn__container span{
    color: var(--dark-gray);
    font-size: rem;
    font-weight: var(--weight-bold);
    letter-spacing: 3px;
}

.c-btn__container:hover{
    cursor: pointer;
}

.c-btn__container:hover > span{
    color: var(--gray);
}